/* здесь используйте глобальные переменные */
$basic-green: #68b738;
$basic-green: #ffffff;
$basic-grey: #f2f2f2;
$basic-black: #000000;
$special-dark-grey: #444444;
$other-dark-grey: #222222;
$special-grey: #cdcdcd;
$other-grey: #eaeaea;
$special-grey: #e7e7e7;
$special-other-grey: #d9d9d9;
$other-black: #111111;
$special-black: #666666;
$special-green: #5EAA2F;
$middle-grey: #ebebeb;
$middle-dark-grey: #6b6b6b;
$other-lightgrey: #bababa;

// Viewports

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
