.additives {
  position: relative;
}

.additives-wrapper {
  @include wrapper();
}

.additives__lists {
  @include list-reset();
  border-bottom: 1px solid $special-grey;
  margin-bottom: 35px;
}

.additives__title {
  font-family: $second-font;
  font-size: 24px;
  line-height: 24px;
  color: $basic-black;
  text-align: center;
}
