.additive-item__title {
  font-family: $second-font;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

.additive-item__label {
  font-family: $basic-font;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.additive-item__value {
  font-family: $basic-font;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.additive-item__button {
  width: 280px;
  margin-bottom: 19px;
  padding: 10px 109px;
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $basic-white;
  background-color: $basic-green;
  border: none;
  cursor: pointer;

  &:not(:disabled) {
    &:hover,
    &:active {
      background-color: $special-green;
    }

    &:active {
      color: rgba($basic-white, 0.3);
    }
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
