.advantages__title {
  font-family: $second-font;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}

.advantages__description {
  font-family: $basic-font;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;
}
