.contacts__invitation {
  color: $other-black;
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-family: $basic-font;
  font-size: 14px;
  line-height: 20px;
  color: $special-dark-grey;
}
