.info-list__item--label {
  font-family: $basic-font;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: $special-dark-grey;
}

.info-list__item--value {
  font-family: $basic-font;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: $special-dark-grey;
}
