.location {
  display: block;
  min-height: 362px;
  background-color: $basic-green;
  background-image: url("../../img/location_mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
