.main-inner__title--form {
  font-family: $second-font;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
}

.main-inner__info-form {
  font-family: $second-font;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-black;
}
