.show-more {
  border-top: 1px solid $special-grey;
  padding-bottom: 25px;
  border-bottom: 1px solid $special-grey;
}

.show-more__wrapper {
  padding-top: 78px;
  position: relative;
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 145px;
    width: 30px;
    height: 30px;
    background-image: url("../../images/decorative_icons/plus_mobile.svg");
  }
}

.show-more__title {
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $other-black;
  text-align: center;
}

.show-more__description {
  font-family: $basic-font;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;
  text-align: center;
}

.show-more__button {
  padding: 10px 44px;
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey;
  align-items: center;
  text-align: center;
  background: $basic-grey;
  border: none;

  &:hover {
    background-color: $middle-grey;
  }

  &:active {
    background-color: $middle-grey;
    color: rgba($special-dark-grey, 0.3);
  }
}
